*
  box-sizing: border-box

body
  background-color: #e0e0e0
  color: #333
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Roboto", "Cantarell", "Oxygen", "Ubuntu", sans-serif
  padding: 18vh 1rem
  text-align: center

a
  color: inherit
  text-decoration: underline

  &:hover
    text-decoration: none

#container
  margin: 0 auto
  max-width: 1400px
