*
  box-sizing: border-box

body
  background-color: #f2f2f2
  color: #333
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Roboto", "Cantarell", "Oxygen", "Ubuntu", sans-serif
  margin: 0
  text-align: center

main
  padding: 0.5rem

a
  color: inherit
  text-decoration: underline

  &:hover
    text-decoration: none

.wrapper
  margin: 0 auto
  max-width: 1400px

h1,
h2,
h3,
h4,
h5,
h6
  font-family: inherit

=for-small-screen
  @media (max-width: 45.25rem)
    @content

.column-layout
  display: flex
  flex-wrap: wrap

  &__sidebar
    flex: 0.1 0 10rem
    width: 250px

    &.picture
      max-height: 50rem
      position: sticky
      top: 1.5rem

      +for-small-screen
        display: none

  &__main
    flex: 1 0 20rem

    .tile__inner
      padding: 4rem

      +for-small-screen
        padding: 2rem
