.header
  background:
    color: #222
    image: url('https://c1.staticflickr.com/1/600/21776953612_f2286bb163_k.jpg')
    position: center 30%
    size: cover
  color: #fff
  padding: 5rem 0 1rem 0
  text-shadow: #000 1px 0 10px

  &__title
    font:
      size: 3rem
      weight: 100
